
.page-header{
    height: 10rem;
    display: flex;
    flex-direction: column;
    background:#2c3e50;
    z-index: 2;
    justify-content: center;
}
.page-header .top-bar-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    padding: 1rem;

}
.page-header .top-bar-container a{
    height: 3.2rem;
    transition: opacity 0.2s;

}

h6{
    font-family: 'Lobster', cursive;
    color: #1a237e;
    font-size: 2rem;

}
fa{
    background-color: red;
}